.top-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  a {
    text-decoration: none;
    color: black;
  }
  .tel {
    text-decoration: none;
    color: #10b981;
    margin-left: 10px;
  }
  .call-icon {
    margin-top: 5px;
    margin-right: 5px;
  }
  display: flex;
  justify-content: space-between;
  height: 30px;

  .top-user {
    a {
      margin-right: 10px;
      text-decoration: none;

      .user-icon {
        margin-top: 5px;
        margin-right: 5px;
      }
    }
  }
}

mat-toolbar {
  background-color: #10b981;
  margin-top: 25px;
  height: 100px;
  position: fixed;
  z-index: 100;
}

button {
  color: #fff;
  outline: none;
  border: none;
}

form {
  margin-left: 14%;
}

.search-btn {
  color: #10b981;
  background-color: #0c9164;
}

.search-glass {
  background-color: #94c0b1;
  height: 50px;
  width: 35px;
  padding: 10px;
  position: absolute;
  border-radius: 9px;
}

.logo {
  margin-top: -15px;
  width: 300%;
  max-width: 400px;
  height: auto;
}

.badge {
  position: relative;
  top: -16px;
  right: 10px;
}

.search_box {
  margin-left: 100px;
  width: 75%;
  height: 50px;
  line-height: 35px;
  border-radius: 5px;
  border: none;
}

.submit-btn {
  width: 100%;
  height: 50px;

  a {
    color: #10b981;
    margin-left: -30px;
  }
}

.search_btn {
  padding: 10px;
}

::placeholder {
  font-size: 15px;
  padding: 10px;
}

span {
  color: #fff;
  font-size: 20px;
  height: 100%;
  margin-left: -10px;
}

.products {
  color: black;
}

.favorite_icon {
  margin-right: 20px;
}

.shopping-icon {
  margin-right: 20px;
}

mat-sidenav-container {
  height: 620px;
  z-index: 10;
}

mat-sidenav {
  width: 350px;
  z-index: 11;
}

.modal-header {
  background-color: #0c9164;
  color: white;
}

.modal-body {
  height: 300px;
}

.popup-price {
  display: flex;
  justify-content: space-between;
  color: white;
  height: 50px;
  background-color: #0c9164;
  width: 100%;
  font-size: 18px;
  padding: 15px;
}

.fa-plus {
  margin-right: 20px;
}

.fa-trash-can {
  color: red;
}

.product-img {
  height: 100px;
}

@media screen and (max-width: 770px) {
  mat-toolbar {
    margin-top: -25px;
    .logo {
      display: none;
    }
  }

  .icons {
    margin-top: 22px;
  }
  .submit-btn {
    margin-top: 26px;
    margin-left: -20px;
  }

  .top-header {
    display: none;
  }

  .search_box {
    margin-left: 0;
  }
}
