<div class="footer">
    <div class="colom-1">
        <ul>
            <li><img src="../../assets/imgs/logo3.png" alt=""></li>
            <li>
                <i class="fa-solid fa-house"></i>
                <span class="address">Wisma LMS No.6, Jalan Abd. Rahman Idris, Off, Jalan Raja Muda Abdul Aziz, <br>
                    50300 Kuala Lumpur, Wilayah Persekutuan.</span>
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>
                <span class="email">
                    <a href="mailto:support@kgnet.my">support@kgnet.my</a>
                </span>
            </li>
            <li>
                <i class="fa-solid fa-phone"></i>
                <span class="number">
                    <a href="tel:+603 9213 0688">+603 9213 0688</a>
                </span>
            </li>
            <li>
                <a href="">
                    <img src="../../assets/imgs/visa.png" alt="payment">
                    <img src="../../assets/imgs/fpx.png" alt="payment">
                    <img src="../../assets/imgs/master.png" alt="payment">
                </a>
            </li>
        </ul>
    </div>
    
    <div class="colom-2">
        <h2>INFORMATION</h2>
        <ul>
            <li>About Us</li>
            <li>Terms of Services</li>
            <li>Privacy and Policy</li>
            <li>Delivery Policy</li>
            <li>Secure Payment</li>
            <li>Career</li>
        </ul>
    </div>    

    <div class="colom-2">
        <h2>DELIVERY SERVICE</h2>
        <li><img src="../../assets/imgs/KGBoi.png" alt="KGBoi"></li>
    </div>
</div>