

<!-- Start Service Session -->

<section>
  <h1><span>M</span>erchants</h1>
</section>
<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="row gy-5">

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
        <div class="service-item">
          <div class="img">
            <img src="../../assets/imgs/cta-bg-1.webp" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="fa-solid fa-store"></i>
            </div>
            <a routerLink="/shopproduct" class="stretched-link">
              <h3>SFH EMPIRE</h3>
            </a>
            <p>SIMPANG TABIKA SG LADA</p>
            <a></a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
        <div class="service-item">
          <div class="img">
            <img src="../../assets/imgs/cta-bg-2.webp" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="fa-solid fa-store"></i>
            </div>
            <a class="stretched-link">
              <h3>Puan Fatimah Ikan Bilis</h3>
            </a>
            <p>Pasar Besar Tawau, 91000 , Tawau, Sabah</p>
            <a class="stretched-link"></a>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
        <div class="service-item">
          <div class="img">
            <img src="../../assets/imgs/cta-bg-3.webp" class="img-fluid" alt="">
          </div>
          <div class="details position-relative">
            <div class="icon">
              <i class="fa-solid fa-store"></i>
            </div>
            <a class="stretched-link">
              <h3>OneShop</h3>
            </a>
            <p>Wisma LMS No.6, Jalan Abd. Rahman Idris, Off, Jalan Raja Muda Abdul Aziz, 50300 Kuala Lumpur</p>
            <a class="stretched-link"></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- End Service Session -->


<!-- Partner Section -->

<carousel>
  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>

  <div class="carousel-cell">          
    <img class="category-img" src="../../assets/imgs/logo_dum.png" alt="">
    <h3>Snacks & Instants</h3>
  </div>
 
</carousel>

<!-- Partner Section End -->



<!-- Products -->


<section>
  <h1><span>P</span>roducts</h1>
</section>



<!-- <div class="product row">
  <div class="card" style="width: 17rem" *ngFor="let product of productArray">
    <img src="{{ product.img }}" class="card-img-top" alt="product" />
    <div class="card-body">
      <h3 class="card-title">{{ product.productName }}</h3>
      <div class="product-details">
        <a class="btn" (click)="addCart(product)"><mat-icon>add_shopping_cart</mat-icon></a>
        <button type="button" class="btn" (click)="inc(product)">
          <i class="fa-solid fa-plus"></i>
        </button>
        <span>{{product.qnt}}</span>
        <button type="button" class="btn" (click)="dec(product)">
          <i class="fa-solid fa-minus"></i>
        </button>
        <span>{{ product.amount }}</span>
      </div>
    </div>
  </div>
</div> -->


<div class="main-container row">
  <div class="card" style="width: 17rem" *ngFor="let product of productArray">
    <img src={{product.img}} class="card-img-top" />
    <div class="card-body">
      <h3 class="card-title">{{product.productName}}</h3>
      <div class="product-details" style="width: 14rem">
        <a class="btn" (click)="addCart(product)"><mat-icon>add_shopping_cart</mat-icon></a>
        <a class="btn">
          <a class="btn" (click)="inc(product)"><i class="fa-solid fa-plus"></i></a>
          <span>{{product.qnt}}</span>
          <a class="btn" (click)="dec(product)"><i class="fa-solid fa-minus"></i></a>
        </a>
        <a class="btn"><span class="Price">{{product.amount}}</span></a>
      </div>
    </div>
  </div>
</div>



