<div class="appdownload">
  <div class="inner-container">
    <div class="left-shoping-img">
        <img class="img-fluid" src="../../assets/imgs/app-download-img-left.webp" alt="shoping image" />
    </div>
  
    <div class="middle-container">
        <h1>Get Your Daily Needs From <br />Our KG Net Store</h1>
        <p>There are many products you will find our shop, Choose your daily necessary product from our KachaBazar shop and get some special offer.</p>
        <div class="store-images">
          <div class="left-store-img">
            <img class="img-fluid" src="../../assets/imgs/app-store.svg" alt="">
          </div>
          <div class="right-store-img">
            <img class="img-fluid" src="../../assets/imgs/play-store.svg" alt="">
          </div>
        </div>
    </div>
  
    <div class="right-shoping-img">
        <img class="img-fluid" src="../../assets/imgs/app-download-img.webp" alt="" />
      </div>
  </div>
</div>
